body {
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
    color: #888;
}
.parent-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.login-form {
    display: flex;
    flex: 30%;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.logo-container {
    display: flex;
    align-items: center;
    padding: 25px 0px 5px 45px;
    margin-bottom: 40px;
}
.logo {
    width: 150px;
    height: 80px;
}
h3 {
    color: #444444;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 0px;
}
.form-container {
    display: flex;
    flex-direction: column;
}
.login-form input {
    padding: 12px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    color: #888;
}
.login-form button {
    padding: 12px;
    border-radius: 4px;
    border: none;
    background: #35aa47;
    font-size: 16px;
    color: #ffffff;
}
.login-form button:hover {
    background: #424242;
}
.form-container p {
    color: #444444;
    font: 6px;
}
.image-container {
    display: flex;
    flex: 70%;
}
.bg-image img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    body {
        padding: 0;
        margin: 0;
    }
    .parent-container {
        display: flex;
        flex-direction: column;
    }
}